<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resturant</title>
    <link rel="stylesheet" href="resturant.css">
</head>
<body>
    <div class="header">
        <h1>M-STAR</h1>
        <ul>
            <li>Home|</li>
            <li>Receipe|</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="receipe">
        <div class="box">
            <img src="poori.jpg" >
            <h3>Pori</h3>
            <p>Puffy and Tasty</p>
            <button class="order">Order Now</button>
        </div>
        <div class="box">
            <img src="Roost.webp"  >
            <h3>Roost</h3>
            <p>Crunchy and Tasty</p>
            <button class="order">Order Now</button>
        </div>
        <div class="box">
            <img src="briyani.jpeg" >
            <h3>Briyani</h3>
            <p>Spicy and delicious</p>
            <button class="order">Order Now</button>
        </div>
        <div class="box">
            <img src="idly.webp" >
            <h3>idly</h3>
            <p>delicious and Tasty</p>
            <button class="order">Order Now</button>
        </div>


    </div>
    <div class="contact">
        <h2>Contact Us</h2>
        <form>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td><input class="one" type="text" placeholder="Name"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input class="one" type="number" placeholder="Age"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input class="one" type="email" placeholder="Email"></td>
                </tr>
            </table>
            <input class="send" type="button" value="Send">
        </form>
    </div>
</body>
</html>
